@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  min-height: 100%;
}


footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  background-color: white;  
}

.tab{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  cursor: pointer;
}

.tab.active{
  color: rgb(104, 204, 250)
}

.tab.icon{
  font-size: 18px;
}

.grow{
  flex-grow: 3;
}

.panel {
  padding-top: 50px;
  display: none;
  min-height: 530px;
}

.panel.active{
  display: block;
}

.flex{
  display: block;
}

.center {
  text-align: center;
}

.center canvas{
  margin-left: auto;
}

#tuner-control{
  position: relative;
  top: -160px;
}

.mostrador{
	width: 100px;
	height: 70px;
	background-color: #000000;
	-moz-box-shadow:    inset 0 0 10px #FFFFFF;
   -webkit-box-shadow: inset 0 0 10px #FFFFFF;
   box-shadow:         inset 0 0 10px #FFFFFF;
   color: #FFFFFF;
   border-radius: 10px;
   margin: auto auto;
}

.mostrador span {
  font-family: 'Orbitron';
  color: #FFFFFF;
  font-size: 24px;
  width: 100%;
  text-align: center;
  display: block;
  height: 100%;
  line-height: 70px;
}

.onoff {
  margin-top: 20px;
}

.control{
  display: inline-block;
}

.control-met{
  position: relative;
  top: -150px;
}

.control-met div{
  float: left;
}

.clear {
  clear: both;
}

.control-met svg{
  margin: 10px;
  position: relative;
  top: 15px;
} 

.tempo{
  cursor: pointer;
}

.tempo.disabled{
  cursor: not-allowed;
  color: rgb(231, 231, 231)
}

.tempo-select{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
  border-radius: 50% 50%;
  background-color: black;
	-moz-box-shadow:    inset 0 0 10px #FFFFFF;
   -webkit-box-shadow: inset 0 0 10px #FFFFFF;
   box-shadow:         inset 0 0 10px #FFFFFF;
   position: absolute;
   top: 180px;
   left: calc( 50% + 50px);
}

.tempo-select span{
  color: white;
  font-family: 'Orbitron';
  font-size: 14px;
  position: relative;
  top: 5px;
}

.tempo-select .onoff{
  position: relative;
  top:-5px;
}


.stripe{
  position: fixed;
  top:-35px;
  right: -35px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

.stripe div{
  padding: 5px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
}

.version{
  width: 100%;
  position: fixed;
  bottom: 100px;
  text-align: center;
}