@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap');

:root{
  --almost-white: rgb(247, 242, 242);
  --blue-color : #2693e6;
  --dark-disabled: #505050;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin-top: 30px;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  min-height: 100%;
}


footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  color: #0e0e0e;
  background-color: white;  
}

.tab{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  cursor: pointer;
}

.tab.active{
  color: var(--blue-color);
}

.tab.icon{
  font-size: 18px;
}

.grow{
  flex-grow: 3;
}

.panel {
  padding-top: 50px;
  display: none;
  min-height: 530px;
}

.panel.active{
  display: block;
}

.flex{
  display: block;
}

.center {
  text-align: center;
}

.center canvas{
  margin-left: auto;
}

#tuner-control{
  position: relative;
  top: -160px;
}

.mostrador{
	width: 100px;
	height: 70px;
	background-color: #000000;
	-moz-box-shadow:    inset 0 0 10px #FFFFFF;
   -webkit-box-shadow: inset 0 0 10px #FFFFFF;
   box-shadow:         inset 0 0 10px #FFFFFF;
   color: #FFFFFF;
   border-radius: 10px;
   margin: auto auto;
}

.mostrador span {
  font-family: 'Orbitron';
  color: #FFFFFF;
  font-size: 24px;
  width: 100%;
  text-align: center;
  display: block;
  height: 100%;
  line-height: 70px;
}

.onoff {
  margin-top: 20px;
}

.control{
  display: inline-block;
}

.control-met{
  position: relative;
  top: -160px;
}

.control-met div{
  float: left;
}

.clear {
  clear: both;
}

.control-met svg{
  margin: 10px;
  position: relative;
  top: 15px;
} 

.tempo{
  cursor: pointer;
}

.tempo.disabled{
  cursor: not-allowed;
  color: rgb(231, 231, 231)
}

.tempo-select{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
  border-radius: 50% 50%;
  background-color: black;
	-moz-box-shadow:    inset 0 0 10px #FFFFFF;
   -webkit-box-shadow: inset 0 0 10px #FFFFFF;
   box-shadow:         inset 0 0 10px #FFFFFF;
   position: absolute;
   top: 210px;
   left: calc( 50% + 50px);
}

.tempo-select span{
  color: white;
  font-family: 'Orbitron';
  font-size: 14px;
  position: relative;
  top: 5px;
}

.tempo-select .onoff{
  position: relative;
  top:-5px;
}


.stripe{
  position: fixed;
  top:-35px;
  right: -35px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

.stripe div{
  padding: 5px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
}

.rs-select{
  position: relative;
  width: 90px;
  height: 90px;
}

.rs-select .semi-up {
  width: 110px;
  height: 55px; 
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 2px outset gray;
  border-bottom: 1px solid var(--almost-white);
  background-color: black;
  

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rs-select .semi-down {
  width: 110px;
  height: 55px; 
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border: 2px outset grey;
  border-top: 1px solid gray;
  background-color: black;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rs-select .rs-display{
  display: block;
  position: absolute;
  top: 20px;
  left:20px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: rgb(29, 29, 29);
  color: var(--almost-white);
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  border-top: 1px solid var(--almost-white);
  border-bottom: 1px solid grey;
}

.rs-select .rs-display div{
  border-top: 1px solid grey;
}

.rs-select .rs-value{
  font-family: 'Orbitron';
  font-size: 16px;
  line-height: 30px;
  margin-top: 3px;
  border-bottom: 1px solid gray;
  border-top: 0 !important;
}

.rs-select .arrow-up{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent var(--almost-white) transparent;
  position:absolute;
  left: 50px;
  top: 5px;
}


.rs-select .arrow-down{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
  position:absolute;
  left: 50px;
  bottom: -15px;
}

.rs-select .arrow-down.disabled{
  border-color: var(--dark-disabled) transparent transparent transparent;
}

.rs-select .arrow-up.disabled{
  border-color: transparent transparent var(--dark-disabled) transparent; 
}

.looper-container{
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.looper-main{
  width: 330px;
  height: 330px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #e5e5e6, inset 0 0 0 4px #A0A0A0,inset 0 0 0 8px #e5e5e6;
  background-color: white;
  z-index: 2;
}

.looper-container .reset{
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #e5e5e6, inset 0 0 0 4px #A0A0A0,inset 0 0 0 8px #e5e5e6;
  background-color: rgb(207, 14, 14);
  color: white;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position:relative;
  top: -20px;
  left: 120px;
  display: none;;
}

.looper-container .reset.active{
  display: flex;
}


.looper-main .lp-on-off {
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #4b4b4b, inset 0 0 0 3px #A0A0A0,inset 0 0 0 5px #4b4b4b;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-red{
  animation: turnRed 0.2s 1;
}

.to-green{
  animation: turnGreen 0.2s 1;
}


@keyframes turnRed {
  from {background-color: black;}
  to {background-color: rgb(207, 14, 14);}
}

@keyframes turnGreen {
  from {background-color: black;}
  to {background-color: rgb(49, 161, 15);}
}

.looper-main .btn-bpm {
  position: absolute;
  top: 140px;
  left: 40px;
}

.looper-main .btn-tempo{
  position: absolute;
  top: 140px;
  left: 170px;
}

.looper-main .btn-on-off{
  position: absolute;
  top: 240px;
  left: 125px;  
}


.get-compass {
  position:relative;
  background-color: black;
  border-radius: 10px;
  height: 80px;
  width: 170px;
  color : var(--almost-white);
}

.get-compass .btn-down, .get-compass .btn-up{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
  text-align: center;
  float: left;
}

.get-compass .btn-down{
  border-right: 1px solid var(--almost-white);
}

.get-compass .btn-down:active{
  transform : translate(-1px, -1px);
}

.get-compass .btn-up{
  border-left: 1px solid var(--almost-white);
}

.get-compass .btn-up:active{
  transform : translate(1px, -1px);
}


.get-compass .compass-ct{
  float: left;
  width: 110px;
  height: 100%;
  border-left: 1px solid gray;
  border-right: 1px solid grey;
}

.get-compass .arrow-left{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent var(--almost-white) transparent transparent;
}

.get-compass .arrow-left.disabled{
  border-color: transparent var(--dark-disabled) transparent transparent;
}

.get-compass .arrow-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent var(--almost-white);
}

.get-compass .arrow-right.disabled {
  border-color: transparent transparent transparent var(--dark-disabled);
}

.get-compass .display{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Orbitron';
  font-size: 26px;
  position: relative;
  top: 5px;
}

.get-compass .title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 50%;
}

.dsp-compass{
  position: absolute;
  top: 45px;
  left: 75px;
}


